#Home {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/6697029.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none; /* Webkit browsers */
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}
#Home p {
  -webkit-user-select: none; /* Webkit browsers */
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}


#projects,
#contact, #terminal {
border-radius: 1rem;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1); /* Adjust the values to change the shadow effect */
overflow: hidden;
}
.terminalBar,
.projectBar,
.contactBar {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  height: 6%;
  background-color: rgba(153, 0, 255, 0.2); /* Red color with 50% opacity */
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(5rem);
  color: white;
}
.terminalContent {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}
.projectsContent,
.contactContent, .terminalContent {
  width: 100%;
  height: 95%;
  color: #fff;
  padding: 1rem 0.5rem;
  overflow-y: scroll;
  background-color: #212121;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
div::-webkit-scrollbar {
  width: 0.2rem;
}
div::-webkit-scrollbar-track {
  background: #212121;
}
div::-webkit-scrollbar-thumb {
  background: var(--bar-color);
  border-radius: 5rem;
}

#closeWindow:hover {
  transition: 0.7s ease;
  color: #4caf50;
}

#hideWindow:hover {
  transition: 0.7s ease;
  color: var(--main-color);
}

#resizeWindow:hover {
  transition: 0.7s ease;
  color: var(--second-color);
}
